<div class="container is-fullhd mt-4">
    <div class ="notification is-warning">
  {{#each this}}


    <div class="card mt-3">
        <div class="card-content">
            {{comment_text}}
        </div>
        <div class="card-footer is-justify-content-end">
            - {{user.name}}, {{format_date created_at}}
        </div>
      </div>
   
  {{/each}}
   </div>
</div>

