<button type="submit" class="button is-medium mt-4 ml-4"><a class="link has-text-white" href="/dashboard/new">+ New Post</a></button>

<h2 class="has-text-centered mt-2">Your Posts</h2>

<div class="container is-fullhd mt-4"> 
  <div class ="notification is-warning">
    {{#if posts.length}}

    <ul>
      <li>
        {{#each posts as |post|}}
          {{> dashboard-postinfo post}}
              <button class="button mt-3 "><a class="link has-text-white" href="/dashboard/edit/{{post.id}}">Edit Post</a></button>
          

       {{/each}}
      </li>
    </ul>

    {{/if}}
  </div>
</div>


<script src="/js/edit-post.js"></script>


