  <div class="jumbotron has-text-centered">
    <h1>My Tech Blog</h1>
    <p>Technology.</p>
  </div>
  


<div class="container is-fullhd"> 
   <div class ="notification is-warning">

<ul>
  <li>
    {{#each posts as |post|}}
    <article class="media-content p-2">
      {{> post-info post}}
    </article>
    {{/each}}
  </li>
</ul>
</div>
</div>