<section class="container is-widescreen mt-4">
{{> post-info post}}


{{#if loggedIn}}

    <button class="button mt-3 "><a class="link has-text-white" href="/dashboard/edit/{{post.id}}">Edit Post</a></button>
    <button class='delete-post-btn button mt-3 has-text-white'>Delete post</button>

 

</section>
<div class="container">
    
    <form class="card-content comment-form" id="comment-form">
    <div class="form-row">
        <label>Add Comment:</label>
        <input id="comment" name="comment-body" class="form-input form-control" />
    </div>
    
        <button type="submit" class="button is-link mt-3">Submit</button>
    
    </form>
</div>
{{/if}}

{{> comments post.comments}}



{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>

{{/if}}