<section class="container is-widescreen mt-4">
{{> post-info post}}
</section>
{{#if loggedIn}}


<div class="container">
    
    <form class="card-content comment-form" id="comment-form">
    <div class="form-row">
        <label>Add Comment:</label>
        <input id="comment" name="comment-body" class="form-input form-control" />
    </div>
    
        <button type="submit" class="button is-link mt-3">Submit</button>
    
    </form>
</div>
{{/if}}

{{> comments post.comments}}



{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}